@import "./../../scss/mixin.scss";
@import "./../../scss/nav.scss";

#new_contact{
  display: none;
  border: #B5B5B5 solid 1px;
  border-radius: 3px;
  margin-top: 30px;
  background-color: white;
  padding: 5px;
}

#new_contact button{
  @include btn;
  margin:{
    left:5px;
    bottom: 2px;
  };
  font-size: 13px;
}


#new_contact input{
  padding-right: 40px;
  float: right;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: #3E3E3E solid 2px;
}
