
<p>View Contact</p>
<!--<button (click)="come()"> from-parent </button>-->
<div id="contactDetail">
  <p class="label">First Name:</p><p id="detailFn" class="detail"></p>
  <p class="label">Last Name:</p><p id="detailLn" class="detail"></p>
  <p class="label">Phone Number:<a href="#" id="makeCall" (click)="makeCall($event)">CALL</a></p><p id="detailPhn" class="detail"></p>
  <p class="label">Email:<a href="https://mail.google.com/mail/" id="sendMail">SEND</a></p><p id="detailEml" class="detail"></p>
</div>


